/* MAIN CHANGES ACCROSS COMPONENTS */
textarea{
    resize: none;
    background: #E1F7F5;
    border: none;
    box-shadow: 0 0 10px rgba(220,20,60, .6);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

select{
    border: none;
    cursor: pointer;
    color:crimson;
    font-weight: bold;
}

button{
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    border-radius: 34px;
}


/* LAYOUT COMPONENT */
.site_wrapper{
    padding: 1em 1em 0;
    position: relative;
}

/* HEADER COMPONENT */
header,
.logo_container,
header > nav{
    display: flex;
}

header{
    width: 100vw;
   
    gap: 4em;
    align-items: center;
    padding-bottom: 4em;
}

.logo_container{
    align-items: center;
    gap: 20px;
}

.logo_container > img {
    width: 4em;
}

.logo_container > p {
    font-size: 1rem;
    font-weight: bolder;
    color: #1C1678;
}


nav{
    /* align-items: space-evenly; */
    justify-content: flex-end;
    /* background-color: red; */
    gap: 1em;
    width: 100%;
}


header > nav {
    margin-right: 2em;
    gap: 5em;
    font-size: 1.4rem;

}

header > nav > a{
    text-decoration: none;
    color: black;
}

header > p {
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    margin-left: 1em;
}

header > p > span {
    color: crimson;
    /* margin: 0 1em; */
}
/* TICKET CONTAINER COMPONENT */

.ticket_section,
.ticket_info,
.ticket_editing,
.comments_container,
.comment_container,
.comment_section,
.comment_section_inner{
    display: flex;
}


.ticket_section,
.comments_container,
.comment_container{
    flex-direction: column;
}

.ticket_section{
    position: absolute;
    background-color: white;
    gap: 1em;
    align-items: center;
    padding:  0 7em;

}

.ticket_section > a,
.update_btn,
.comment_section_inner > button {
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color:crimson;
    margin-bottom: 2em;
    border: 1px solid black;
    text-align: center;
    border-radius: 34px;
    background-color: black;
}

.back_btn{
    align-self: flex-end ;
    padding: .5em;
    color: crimson;
    background-color: black;

}

.back_btn:hover{
    color: black;
    background-color: crimson;
}

.ticket_editing{
    gap: 2em;
    margin-bottom: 24px;
    align-items: center;
    font-weight: bold;
}


.ticket_info{
    gap: 2em;
    border-bottom: 1px solid crimson;
    width: 100%;
    padding-bottom: 1em;
}

.centered{
    justify-content: center;
}

.ticket_info > p:first-child,
.ticket_info > div > p:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.ticket_info > p:last-child {
    font-style: italic;
}

.ticket_info > div {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    width: 15em;
    align-items: center;
    border-right: 1px double crimson;
}

.ticket_info > div > p{
    text-align: center;
}

.update_btn {
    background-color: rgb(20, 9, 168) ;
    font-size: 1.6rem ;
    align-self: center;
    padding: .3em;
}

.update_btn:hover{
    /* color: rgb(20, 9, 168); */
    background-color: black;
    /* color: white; */
    border: 2px yellow solid

}



.comment_section{
    flex-direction: column;
    align-items: center;
}



.comment_section > p{
    font-size: 2rem;
    font-weight: bold;
}

.comment_section_inner{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 2em;

}

.comment_section> hr{
    border: none;
    width: 50%;
    border-bottom: 6px dotted crimson;
    margin: 1em 0;

}

.comment_section_inner > textarea{
    min-width: 100%;
    min-height: 10em;
    margin-bottom: 1em;
    
    
}


.comment_section_inner > button{
    border: 1px solid black;
    background-color: crimson;
    color: black;
    font-size: 1rem;
    padding: 1em;
}

.comment_section_inner > button:hover{
    background-color:black;
    color: crimson;
    border: 3px solid blue;
}

.comments_container{
    width: 100%;
    align-items: center;

}

.comment_container{
    width: 50%;
    border: none;
    border-bottom: 1px double #1C1678;

}

.comment_container > p{
    align-self: flex-end;
    margin-top: 1em;
}



.comment_container > p > span{
    font-weight: bold;
}

.comment_container > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;;
}

/* NEW TICKET */

.new_ticket_container{
    border: 1px black solid;
    position:absolute;
    display: flex;
    width: 80%;
    height: 100%;
    min-height: 780px;
    background-color: white;    
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 25em;
    bottom: 0;
    margin: auto;
    padding: 1em;
    border-radius: 34px;
    box-shadow: 0 0 34px rgba(20, 53, 220, 0.6);
    
}

.close_new{
    cursor: pointer;
    align-self: flex-end;
    font-size: 2rem;
    margin-right: 1em;
    margin-bottom: 1em;
}

.inner_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;;
    padding: 1em 0 0;
    gap: 24px;
}

.inner_container > div {
    display: flex;
    gap: 24px;
    margin-bottom: 2em;
    /* justify-content: center; */
    font-weight: bold;
    color:#1C1678;
}

.inner_container > div > textarea{
    width: 80%;
    height: 80px;
}

.inner_container > hr{
    border: none;
    width: 10%;
    border-bottom: 6px dotted crimson;
    align-self: center;
}

.submit_new_btn{
    padding: .51em;
    background-color: black;
    color: crimson
}

/* TICKET LIST COMPONENT */
.tickets,
.ticket
{
display: flex;
}

.tickets{
    flex-direction: column;
    }

    .ticket > p,
.ticket > a{
    width: 100%;
}

.view_btn{
    background: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color:blue;
    cursor: pointer;
}

.view_btn:hover{
    color: crimson;
}

.tickets{
    background-color:#E1F7F5 ;
    padding: 0 0 1em 0;
   }
   
   .ticket{
       align-items: center;
       padding: 1em 0;
       border-bottom: 1px rgb(224, 223, 223) solid;
       gap: 8%;
       text-align: center;
   }
