.home_container,
.home_wrapper,
.ticket_type_container{
    display: flex;
}

.home_container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: #E1F7F5;
    padding: 5em 0;
}

.home_wrapper{
    gap: 7em;
    flex-wrap: wrap;
}

.ticket_type_container{
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 2em;
    border-radius: 15px;
    width: 35%;
}

.ticket_type_container > p:first-child{
    font-weight: bold;
}

header > nav {
    margin-right: 2em;
    gap: 5em;
    font-size: 3rem;
}

nav > a{
    text-decoration: none;
    color: black;
}